<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello User!</h1>
    <a href="/signup">create user</a>&nbsp&nbsp
    <a href="/login">get user by id</a>&nbsp&nbsp
    <a href="/read">get all users</a>&nbsp&nbsp
    <a href="/delete">delete user</a>&nbsp&nbsp
    <a href="update">update user</a>
    <h2><%= user %></h2>
</body>
</html>
